{% extends "index-base.html" %}

{% block title %} New Facts {% endblock%}

{% block body %}
<div class="container">
    <h1>Submit your facts:</h1>
    <div class="callout">
        If you have experience faxing small animals tell us about it!
    </div>
    <div class="facts-container">
        <form method="POST" action="/facts">
            <label for="submitter">
                <h2>Submitter</h2>
            </label>
            <input type="text" name="submitter">
            <br />
            <label for="fact">
                <h2>Fact</h2>
            </label>
            <textarea name="fact">

                </textarea>
            <br />
            <input type="submit" value="Submit a Fact!">
        </form>
    </div>
    <a href="/pets">&lt;&lt; Go back!</a>
</div>
{% endblock %}